<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/element_ui.css" />
		<script src="js/vue.js"></script>
		<script src="js/vue-resource.js"></script>
		<script src="js/element_ui.js"></script>
		<script src="js/index.js"></script>
	</head>

	<body>
		<div id="single">
			<div class="contain">

				<div class="header">
					<div class="logo">
						<div></div><span>奇妙创想企业图书馆</span>
					</div>

				</div>
				<div id="main">
					<div class="main-title">
						<div class="main_titleBox">
							<div class="main-tit">可借书</div>
							<div class="main-tit">不可借书</div>
						</div>
					</div>
					<ul class="content  contents">
						<li class="list" v-for="(item,index) in Noborrow">
							<div class="theme">
								<img :src="baseUrl+item.src" alt="" />
							</div>
							<p class="list_info">
								{{item.name}}
							</p>
							<div class="list_info_img">

							</div>
							<div class="list_oprt_img">

							</div>
							<button @click="infoBorrowShows(index)"class="info_btn">
			    			查看详情
			    		</button>
						</li>

					</ul>
					<ul class="content">
						<li class="list" v-for="(item,index) in borrow">
							<div class="theme">
								<img :src="baseUrl+item.src" alt="" />
							</div>
							<p class="list_info">
								{{item.name}}
							</p>
							<div class="list_info_img">

							</div>
							<div class="list_oprt_img">

							</div>
							
							
							<button @click="infoBackShows(index)" class="info_btn">查看详情</button>
							<div class="list_oprts_img">

							</div>
							<button @click='back(index)' class="back_btn">还书</button>
						</li>
					</ul>

					<div v-for='(item,index) in borrowInfo'>
						<el-dialog title="详细信息" v-model="dialogVisible" size="tiny" custom-class='dialog_first'>
							<div class='borrowInfo_img'><img :src="baseUrl+item.src"alt="" /></div>
							<div class='borrowInfo_com'><span>书名: </span> <span>{{item.name}}</span></div>
							<div class='borrowInfo_com'><span>作者: </span> <span>{{item.author}}</span></div>
							<div class='borrowInfo_com'>简介: {{item.instroduce}} </div>
							<div class='borrowInfo_com'><span>借书人: </span> <input type="text" v-model='msg' /></div>
							<span slot="footer" class="dialog-footer">
						    <el-button type="primary" @click="remove(nowIndex)">确 定借书</el-button>
						  </span>
						</el-dialog>
					</div>
					<div v-for='(item,index) in backInfo'>
						<el-dialog title="详细信息" v-model="dialogVisibles" size="tiny">
							<div class='borrowInfo_img'><img :src="baseUrl+item.src"alt="" /></div>
							<div class='borrowInfo_com'><span>借书人:</span> <span>{{item.borrowPeople}}</span></div>
							<div class='borrowInfo_com borrowInfo_coms'><span>借书时间:</span> <span>{{item.borrowT}}</span></div>
							<div class='borrowInfo_com'><span>还书时间:</span> <span>{{item.backT}}</span></div>
                            
						
							
						</el-dialog>
					</div>

				</div>
			</div>
		</div>

	</body>

</html>

<script>
	var vue = new Vue({
		el: '#single',
		data: {
			dialogVisible: false,
			dialogVisibles: false,
			nowIndex: -100,
			msg: '',
			serch: '',
			Noborrow: [],
			borrow: [],
			borrowInfo: [],
			backInfo: [],
			baseUrl: './upload/'

		},
		mounted: function() {

			this.$http.get('/get_book').then(function(res) {
				this.Noborrow = res.data;
			}, function(res) {
				alert(res.status);
			});

			this.$http.get('/get_nobook').then(function(res) {
				this.borrow = res.data;
				console.log(this.borrow)
			}, function(res) {
				alert(res.status);
			});

		},
		methods: {

			Init() {
				    
			},
			sousuo() {
				var tem = [];
				for(var i = 0; i < this.Noborrow.length; i++) {
					if(this.Noborrow[i].name.indexOf(this.serch) >= 0) {
						tem.push(this.Noborrow[i])
					}
				}
				this.Noborrow = tem;
				if(!this.serch || this.Noborrow.length == 0) {
					this.$http.get('/get_book').then(function(res) {
						this.Noborrow = res.data;
					}, function(res) {
						alert(res.status);
					});
				}
			},
			infoBorrowShows(n) {
				this.dialogVisible = true;
				this.nowIndex = n;
				var removed = this.Noborrow[n];
				this.borrowInfo.splice(0, 10000, {
					src: removed.src,
					name: removed.name,
					author: removed.author,
					instroduce: removed.instroduce,

				});
			},
			infoBackShows(n) {
				this.dialogVisibles = true;
				this.nowIndex = n;
				var removed = this.borrow[n];

				this.backInfo.splice(0, 10000, {
					src: removed.src,
					name: removed.name,
					author: removed.author,
					instroduce: removed.instroduce,
					borrowPeople: removed.borrowPeople,
					borrowT: removed.borrowT,
					backT: removed.backT
				});

			},

			remove(n) {
				this.dialogVisible = false;
				var date = new Date;
				var Oy = date.getFullYear();
				var Om = date.getMonth() + 1;
				var Od = date.getDate();
				var currentTime = Oy + '/' + Om + '/' + Od;
				var timestamp1 = new Date('2017-3-29 14:50:00'),
					timestamp2 = new Date('2017-3-1 14:50:00');
				var d = timestamp1.getTime() - timestamp2.getTime();
				var c = new Date().getTime() + d;
				var nextTime = new Date(parseInt(c)).toLocaleString().replace(/:\d{1,2}$/, ' ')
				var removed = this.Noborrow.splice(n, 1);
				this.borrow.push({
					id: removed[0].ID,
					src: removed[0].src,
					name: removed[0].name,
					author: removed[0].author,
					instroduce: removed[0].instroduce,
					borrowPeople: this.msg,
					borrowT: currentTime,
					backT: nextTime

				});
				this.$http.get('/upa_book', {
					id: removed[0].ID,
					borrowPeople: this.msg,
					borrowT: currentTime,
					backT: nextTime,
					status: 'nok'
				}).then(function(res) {
					console.log(res.data);
				}, function(res) {
					console.log(res.data);
				});

				this.msg = '';
			},
			back(n) {
				var removed = this.borrow.splice(n, 1);
				this.Noborrow.push({
					src: removed[0].src,
					name: removed[0].name,
					author: removed[0].author,
					instroduce: removed[0].instroduce
				});
				this.$http.get('/upa_nobook', {
					id: removed[0].ID,
					status: 'ok',
					borrowPeople:'' ,
					borrowT: '',
					backT: ''
					
				}).then(function(res) {
					console.log(res.data);
				}, function(res) {
					console.log(res.data);
				});

			},

		}
	})
</script>